<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Requests</title>
<link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<link rel="stylesheet" href="/css/Styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<link rel="icon" href="/images/stamp.png">
</head>
<body>
	<div class="wrapper">
	<div th:include="adminSideBar :: sideBar"></div>
        <div class="main">
        
            <div style="background-color:#f3c058; width:100%;" class="shadow-sm">
            	<div th:include="navBar :: navbar"></div>
            </div>
            <div class="p-2 ">
            	<div class="container mt-1"> 
            		<div th:include="alertMessage :: alert " class="mt-3"></div>
            		<h1 class="mb-4" th:text="${status =='pending' ? 'Book Borrow Requests List' : 'Book Return Requests List'}">Borrow Request List</h1>
	                <div class="mb-4 d-flex justify-content-between" >
	                	<div class="">
	                    	<a th:href="@{|/admin/|}" class="btn btn2"><i class="fas fa-long-arrow-alt-left"></i> Back</a>
	                	</div>
	                	
	                </div>
	                <div  th:unless="${emptyTransaction}">
	                <div  class="table-responsive">
		                <table class="table table-striped table-bordered shadow-sm">
					    <thead>
					        <tr>
					        	<th>Id</th>
					        	<th>Borrower</th>
					            <th>Book Name</th>
					            <th>Borrow Date</th>
					            <th th:if="${status=='return'}">Return Date</th>
					            <th>Actions</th>
					        </tr>
					    </thead>
					    <tbody>
					        <tr th:each="transaction : ${transactionsPage.content}">
					            <td th:text="${transaction.transactionId}"></td>
					            <td th:text="${transaction.user.name}"></td>
					            <td th:text="${transaction.book.title}"></td>
					            <td th:text="${transaction.borrowDate}"></td>
					            <td th:if="${status=='return'}" th:text="${transaction.actualReturnDate}"></td>
					            <td>
		                            <a  th:href="@{|/admin/requestAction?mode=grant&transactionId=${transaction.transactionId}${status == 'return' ? '&return=1' : ''}|}" class="btn btn-outline-secondary btn-sm">
		                            	<i class="fas fa-edit"></i> <span th:text="${status == 'return' ? 'Confirm' : 'Grant'}"></span>
		                            	
		                            </a>
		                            <a th:if="${status} != 'return'" th:href="@{|/admin/requestAction?mode=deny&transactionId=${transaction.transactionId}|}" class="btn btn-outline-danger btn-sm">
		                                 <i class="fas fa-trash-alt"></i> Deny
		                            </a>
		                         </td>
					        </tr>
					    </tbody>
					</table>
				</div>
		        
		        <nav class="d-flex justify-content-end" aria-label="Page navigation">
			        <ul class="pagination pagination-sm">
			
			            <!-- Previous Page Button: Disabled if on the first page -->
			            <li class="page-item" th:classappend="${transactionsPage.hasPrevious()} ? '' : 'disabled'">
			                <a class="page-link" th:href="@{|/admin/borrowHistorylist?page=${transactionsPage.number - 1}&status=${status != null? status:'all'}|}" aria-label="Previous">
			                    <i class="bi bi-chevron-left"></i>
			                </a>
			            </li>
			
			            <!-- Display each page number dynamically based on total pages -->
			            <div class="d-flex justify-content-center align-items-center">
	                        <span th:text="${transactionsPage.number + 1}"></span> <!-- Current Page -->
	                        <span style="margin: 0 5px;">/</span> <!-- Divider -->
	                        <span th:text="${transactionsPage.totalPages}"></span> <!-- Total Pages -->
	                    </div>
			
			            <!-- Next Page Button: Disabled if on the last page -->
			            <li class="page-item" th:classappend="${transactionsPage.hasNext()} ? '' : 'disabled'">
			                <a class="page-link" th:href="@{|/admin/borrowHistorylist?page=${transactionsPage.number + 1}&status=${status != null? status:'all'}|}" aria-label="Next">
			                    <i class="bi bi-chevron-right"></i>
			                </a>
			            </li>
			
			        </ul>
    			</nav>
    			
	          </div>
	          <div th:if="${emptyTransaction}">
	          	<p class="text-center" th:text="'There is no '+ ${status}+' requests.'"></p>
	          </div>
            	</div>
         	</div>
     	</div>   
     </div>	 
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
     <script src="/js/script.js"></script>
     <script src="/js/alert.js"></script>
</body>
</html>