<div th:fragment="footer">
	<footer>
	    <div class="container">
	    	<p style="font-family:'Brush Script MT', cursive; " class="mt-2 fs-4">ReadSphere</p>
	    	<p>
	    		<a th:href="@{/}">Home</a>
	         	
	         	<a th:href="@{/user/about}">About Us</a>
	         
	   		</p>
	   		
	   		<!-- <p>
	   			<img alt="facebook" src="/images/facebook.png">
	   			<img alt="twitter" src="/images/twitter.png">
	   			<img alt="google" src="/images/google.png">
	   		</p> -->
	   		
	        <p>&copy; 2024 Library Management System. All Rights Reserved.</p>
	    </div>
	</footer>
</div>