<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/stamp.png">
</head>
<body>
	<div th:include="navBar :: navbar"></div>
	<br><br><br>
	
   	
	<div th:include="alertMessage :: alert " class="mt-3"></div>
	<div class="card mx-auto mb-3 " style="width:60%;">
        <div class="row">
            <div class="col-md-5 col-sm-12 welcome-section">
                <div class="welcome-content">
                   
                    <img src="/images/stamp.png" alt="Readsphere Logo" class="rounded mx-auto d-block" width="200" height="200">
                    <h2>Welcome to <span class="brand">ReadSphere</span></h2>
                    <p>Our goal is to provide you with a variety of books and services that will enhance your reading journey.</p>
                    <div class="images">
                        <img src="/images/image.jfif" alt="Book 1">
                        <img src="/images/image2.jfif" alt="Book 2">
                        <img src="/images/image3.png" alt="Book 3">
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-12 form-section">
                <div class="form-container">
                 <h2>Sign In</h2>
                 	<small>If you don't have any account,  <a th:href="@{/user/register}" style=" color:#D68232;">Register</a> first.</small>
                	<form  action="postLogin" method="post" th:object="${userDto}">
			    		
			    	<h3 class="text-center">Login Form</h3>
			    	  <div class="form-group mb-3">
					    <label for="exampleInputEmail1">Username</label>
					    <input type="text" class="form-control" placeholder="Enter username" th:field="*{name}">
					    <div th:if="${#fields.hasErrors('name')}" >
					    	<span th:errors="*{name}" class="text-danger"></span>
					    </div>
					    
					  </div>
					  <div class="form-group mb-3">
					    <label for="exampleInputEmail1">Email address</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" th:field="*{email}">
					    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
					  </div>
					  <div class="form-group mb-3">
					    <label for="exampleInputPassword1">Password</label>
					    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" th:field="*{password}">
					    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
					  </div>
					  <a href="/user/forgotPassword" style=" color:#D68232;">Forgot Password?</a>
					  <div class="d-flex justify-content-end">
					    <a href="/" class="btn btnActionCancel me-2">Cancel</a>
					  	<button type="submit" class="btn btn1">SignIn</button>
					  </div>
					</form>
                </div>
            </div>
          </div>
        </div>
    	<div th:include="footer :: footer"></div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/alert.js"></script>
</body>
</html>